<!-- Form -->
<section style="width: 50%;margin: auto;padding-top: 50px">
    <header>
        <h2>{{ .title }}</h2>
        <p>{{ .subtitle }}</p>
    </header>
    <div class="content">
        <form method="post" action="#">
            <div class="fields">
                <div class="field half">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6"></textarea>
                </div>
            </div>

            <ul class="actions">
                <li><input class="button primary" type="submit" name="submit" id="submit" value="Send Message" /></li>
            </ul>
        </form>
    </div>
</section>